.todo {
  padding: 1rem;
  border-bottom: 1px solid rgb(224, 223, 223);
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
}

.todo-text {
  font-size: 1.3rem;
  margin-right: auto;
}

.todo-text p {
  margin-left: 5rem;
}

.todo-id {
  display: flex;
}

.checked {
  text-decoration: line-through;
}

.todo-id p {
  margin-left: 5rem;
}
